.logo {
    font-size: 30px;
    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
}
nav {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 0 19%;
}
.right {
    position: absolute;
    right: 19%;
}
.btn {
    background-color: rgb(67, 166, 253);
    border-radius: 10px;
    color: white;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 20px;
}
.link {
    color: rgb(67, 166, 253);
    font-weight: 600;
    margin-left: 15px;
}
#posts {
    display: flex;
    justify-content: center;
}
#allposts {
    width: 40%;
}
.post {
    border: 1px solid rgb(206, 206, 206);
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
}
.ava {
    display: flex;
    align-items: center;
    padding: 15px;
}
.avaImg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.accountName {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}
.postImgBox {
    overflow-y: hidden;
}
.postImg {
    width: 100%;
}
.likesBox {
    font-size: 20px;
    align-items: center;
    display: flex;
    padding: 5px 5px 5px 5px;
}
.postText {
    padding: 30px;
    font-size: 30px;
}
.comment1 {
    display: flex;
    justify-content: center;
}
.menu{
    width: 30vw;
    border: 4px gray;
}
.heart{
    height: 5vh;
}
